body{
    background-image: url("../Google-exo/meme-fevrier-2017-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image{
    margin-top:30px;
    width:300px;
    border-radius:10%;
    border-width:5px solid black;
    

}
